<!DOCTYPE html>
<html>
<head>
  <title>CrudWithValidationsLab</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
  javascript_include_tag "xmlhr"
  # => <input path="/html/body/form/input[5]"></input>
</head>
<body>


<%= yield %>

</body>
</html>
